@model Category

<div class="container mt-4 p-3 border rounded-2">
    <form method="post">
        @*Explicitly specify the Id field in hidden input to make sure data is submitted to a controller (required for property identifiers different from "id").*@
        <input asp-for="Id" hidden />
        <div class="row">
            <h2 class="text-primary mb-0">Delete Category</h2>
        </div>
        <hr />
        <div class="mb-2">
            <label asp-for="Name" class="mb-1"></label>
            <input asp-for="Name" readonly type="text" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder" class="mb-1"></label>
            <input asp-for="DisplayOrder" readonly type="text" class="form-control" />
        </div>
        <div class="row">
            <div class="col-6 col-md-4">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6 col-md-4">
                <a asp-controller="Categories" asp-action="Index" class="btn btn-outline-secondary form-control">
                    Back to the list
                </a>
            </div>
        </div>
    </form>
</div>
